<style>
  .el-article-line{
    width: 100%;
    display: block;
    clear: both;
    background-color: #FFF;
    box-sizing: border-box;
    border: 2px solid  rgb(229,229,229);
    color: rgb(82,82,82);
    margin: 8px 0px;
  }
  .el-article-line .el-header{
    box-sizing: border-box;
    width: 450px;
    display: inline-block;
    line-height: 16px;
    height: 32px;
    padding: 8px 16px;
    color: rgb(244,100,95);
  }
  .el-article-line .el-content{
    float: right;
    box-sizing: border-box;
    display: block;
    line-height: 16px;
    height: 32px;
    padding: 8px 16px;
    color: rgb(200,200,200);
  }
</style>
<div class="el-article-line">
  <div class="el-header" ng-transclude="header"></div>
  <div class="el-content" ng-transclude="content"></div>
  <div class="el-control" ng-transclude="control"></div>
</div>
