<style>
.articleWindow{
  background-color: #FFF;
  margin: 0 auto;
  max-width: 750px;
  border: #666 1px solid;
  position: relative;
}
.articleWindow .TopPanel{
  height: 32px;
  box-sizing: border-box;
  line-height: 16px;
  padding: 8px;
  border-bottom: 1px solid #EAEAEA;
  background-color: #FFF;
}
.closeBtn{
  box-sizing: border-box;
  background-color: #F44336;
  color: #FFF;
  position: absolute;
  top: 0px;
  right:0px;
  width: 32px;
  height: 32px;
  padding: 8px;
  text-align: center;
}
.ControlPanel{
  border-bottom: 1px solid #EAEAEA;
  background-color: #EAEAEA;
}
.ControlPanel>ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.ControlPanel>ul>li{ display: inline-block; }
.ControlPanel>ul>li>a{
  padding: 8px;
  color: #000;
  text-decoration: none;
  display: inline-block;
}
.RightContent{
  display: block;
  box-sizing: border-box;
  float: right;
  width: 200px;
  background-color: #EAEAEA;
  padding: 8px;
}
.LeftContent{
  display: block;
  float: left;
  background-color: #FFF;
  width: calc(100% - 200px);
}
.Footer{
  clear: both;
  background-color: #666;
}
#articleSubmitButton{
  background-color: #09F;
  width: 100%;
  height: 40px;
  clear: both;
  border: none;
  outline: none;
  color: #FFF;
}
#blanket{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
}
#articleEditorHeader{
  width: 100%;
  box-sizing: border-box;
  padding: 8px 8px;
  font-size: 24px;
  font-weight: 100;
}
</style>
<div id="blanket">
<div class="articleWindow">
  <div class="TopPanel">
    Article Editor
    <div class="closeBtn" ng-click="closeWithoutSave()"><i class="fa fa-times"></i></div>
  </div>
  <div class="ControlPanel">
    <ul>
      <li><a ng-click="clickFolder()" href="#">File</a></li>
      <li><a href="#">Edit</a></li>
      <li><a href="#">Selection</a></li>
    </ul>
  </div>
  <div class="LeftContent">
    <form id="articleEditorForm">
    <input id="articleEditorHeader" class="articleHeader" placeholder="Article Header" ng-model="edit_article.header" />
    <input id="articleEditorContent" class="articleContent" placeholder="Article Content" ng-model="edit_article.content" />
  </div>
  <div class="RightContent">
    <button id="articleSubmitButton" type="submit" ng-click="saveChanges()"><i class="fa fa-save"></i> Save </button>
    <button id="articleSubmitButton" type="button" ng-click="changeState()"><i class="fa fa-save"></i> {{stateText()}} </button>
    <div ng-repeat="file in files">{{file.file_name}}</div>
  </div>
  </form>
  <div class="Footer" ng-bind-html="logPanel"></div>
</div>
</div>
