<style>
.editFolderWindow{
  background-color: #FFF;
  margin: 0 auto;
  max-width: 750px;
  border: #666 1px solid;
  position: relative;
}
.editFolderWindow .TopPanel{
  height: 32px;
  box-sizing: border-box;
  line-height: 16px;
  padding: 8px;
  border-bottom: 1px solid #EAEAEA;
  background-color: #FFF;
}
.closeBtn{
  box-sizing: border-box;
  background-color: #F44336;
  color: #FFF;
  position: absolute;
  top: 0px;
  right:0px;
  width: 32px;
  height: 32px;
  padding: 8px;
  text-align: center;
}
.Footer{
  clear: both;
  background-color: #666;
}
#articleSubmitButton{
  background-color: #09F;
  width: 100%;
  height: 40px;
  clear: both;
  border: none;
  outline: none;
  color: #FFF;
}
#blanket{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
}
.content{
  padding: 16px;
}
.positionBtn{
  background-color: #EAEAEA;
  border: none;
  border-radius: 8px;
  outline: none;
  
}
.positionBtn.selected{
  background-color: #09F;
}
</style>
<div id="blanket">
<div class="editFolderWindow">
  <div class="TopPanel">
   Folder Editor - {{editFolder.name}}
    <div class="closeBtn" ng-click="toogleEditFolder()"><i class="fa fa-times"></i></div>
  </div>
  <div class="content">
    Name: </br>
    <input type="text" ng-model="editFolder.name" ng-change="updateName(editFolder)"></br>
    Position: </br>
    <button class="positionBtn" ng-class="(editFolder.position == 'top' ? 'selected' : '')" ng-click="setPosition('top')" >top</button>
    <button class="positionBtn" ng-class="(editFolder.position == 'side' ? 'selected' : '')" ng-click="setPosition('side')" >side</button>
    <button class="positionBtn" ng-class="(editFolder.position == '' ? 'selected' : '')" ng-click="setPosition('')" >none</button>

  </div>
  <div class="Footer">Footer</div>
</div>
</div>
