<style>
  .folderWindow{
    height: 120px;
    position: relative;

  }
  .folderTopPanel{
    width: 100%;
    box-sizing: border-box;
    background-color: #FFF;
    padding: 16px;
  }
  .underContent{
  }
  .inline{
    display: inline-block;
    padding: 0px;
  }
  .folderTree{
    background-color: #FFF;
    box-sizing: border-box;
    width: 250px;
    float: left;
    padding: 16px;
    height: 300px;
    overflow-y: scroll;
  }
  .folderOpen{
    width: calc(100% - 250px);
    box-sizing: border-box;
    background-color: #EAEAEA;
    float: right;
    padding: 16px;
    height: 300px;
    overflow-y:scroll;
  }


</style>
<div class="folderWindow" folders-data='folders'>
  <div class="folderTopPanel">
    <path-to-folder></path-to-folder>
    <add-folder></add-folder>
  </div>
  <div class="underContent">
    <div class="folderTree">
      <folder-tree-line ng-repeat='folder in folders' ng-if='folder.parent == null'></folder-tree-line>
    </div>
  <div class="folderOpen" is-drop-area="uploadFile()">
    <add-article></add-article>
    <folder-line ng-repeat="folder in folders" ng-if="(folder.parent == currentFolder.id)" ></folder-line>
    <article-line ng-repeat="article in articles"></article-line>
    <file-line ng-repeat="file in files"></file-line>
  </div>
  <div style="clear:both"></div>
  </div>

</div>
<edit-folder-window ng-show="folderWindow" ></edit-folder-window>
<div style="clear:both"></div>
<article-window current-folder='currentFolder' open-Article='openArticle' article-Window="articleWindow" ng-show="articleWindow"></article-window>
