<style>
  .folderWindow{
    position: relative;

  }
  .folderTopPanel{
    width: 100%;
    box-sizing: border-box;
    background-color: #FFF;
    padding: 16px;
  }
  .underContent{
  }
  .inline{
    display: inline-block;
    padding: 0px;
  }
  .folderTree{
    background-color: #FFF;
    box-sizing: border-box;
    width: 250px;
    float: left;
    padding: 16px;
    height: 300px;
    overflow-y: scroll;
  }
  .folderOpen{
    width: calc(100% - 250px);
    box-sizing: border-box;
    background-color: #EAEAEA;
    float: right;
    padding: 16px;
    height: 300px;
    overflow-y:scroll;
  }


</style>

<div class="folderWindow" folders-data='folders'>
  <div class="folderTopPanel">
    <path-to-folder></path-to-folder>
    <add-folder></add-folder>
  </div>
  <div class="underContent">
    <div class="folderTree">
      <folder-tree-line ng-repeat='folder in folders' ng-if='folder.parent == null'></folder-tree-line>
    </div>
  <div class="folderOpen" is-drop-area="uploadFile()">
    <div ng-if="isOpenFolder()">
      <button ng-click="createNewArticle()"><i class="fa fa-plus"></i> Add Article</button>
      <button ng-click="openFormWindow()"><i class="fa fa-plus"></i> Add Form</button>
      <button ng-click=""><i class="fa fa-plus"></i> Add Garant</button>
      <button ng-click=""><i class="fa fa-plus"></i> Add File</button>
    </div>

    <folder-line ng-repeat="folder in folders" ng-if="(folder.parent == currentFolder.id)" ></folder-line>
    <article-line ng-repeat="article in articles"></article-line>

    <div ng-repeat="form in forms" class="fileLine">
      <button class="name" ng-click="openFormWindow(form)"><i class="fa fa-tasks"></i> {{form.name}} </button>
    </div>

    <file-line ng-repeat="file in files"></file-line>



  </div>
  <div style="clear:both"></div>
  </div>

</div>
<edit-folder-window ng-show="folderWindow" ></edit-folder-window>
<div style="clear:both"></div>

<edit-form-window current-folder='currentFolder' after-form-window="afterFormWindow" open-form='openForm' form-window ='formWindow' ng-show='formWindow'></edit-form-window>
<article-window current-folder='currentFolder' open-Article='openArticle' article-Window="articleWindow" ng-show="articleWindow"></article-window>
