<div id="blanket">
<div class="articleWindow">
  <div class="TopPanel">
    Article Editor
    <div class="closeBtn" ng-click="closeWithoutSave()"><i class="fa fa-times"></i></div>
  </div>
  <div class="ControlPanel">
    <ul>
      <li><a ng-click="clickFolder()" href="#">File</a></li>
      <li><a href="#">Edit</a></li>
      <li><a href="#">Selection</a></li>
    </ul>
  </div>
  <div class="LeftContent">
    <form id="articleEditorForm">
    <input id="articleEditorHeader" class="articleHeader" placeholder="Article Header" ng-model="article.header" />
    <input id="articleEditorContent" class="articleContent" placeholder="Article Content" ng-model="article.content" />
  </div>
  <!-- TODO: Search panel and separate results:
  article, files, garant
  -->
  <div id="RightContent">
    <button id="articleSubmitButton" type="submit" ng-click="saveChanges()"><i class="fa fa-save"></i> Save </button>
    <button id="articleSubmitButton" type="button" ng-click="changeState()"><i class="fa fa-save"></i> {{stateText}} </button>
    <button class="delete" ng-click="saveChanges()"><i class="fa fa-trash-o"></i> Delete </button>
    <!-- create buttons -->
    <div class="box">
      <div class="flexBox">
      <button ng-click="show('all')" class="btn" ng-class="(isOpen=='all')?'selected':''"><i class="fa fa-circle-o"></i> All</button>
      <button ng-click="selectFilePop()" class="btn" ng-class="(isOpen=='files')?'selected':''"><i class="fa fa-file"></i> Files</button>
      <button ng-click="selectArticlePop()" class="btn" ng-class="(isOpen=='articles')?'selected':''"><i class="fa fa-file-text-o"></i > Article</button>
      <button ng-click="selectFormPop()" class="btn" ng-class="(isOpen=='forms')?'selected':''"><i class="fa fa-list"></i> Forms</button>
      </div>
      <!-- be able to search -->
    </div>
  <div class="box">
    Insert Image:
    <div class="flexBox">
      <div>Image</div>
    </div>
  </div>
  </div>
  </form>
  <div class="Footer" ng-bind-html="logPanel"></div>
</div>
<!-- POP WINDOW -->
<pop-select select-setup="setupSelect" select-fn="selectFn" select-open="popSelect" ng-show="popSelect">
</pop-select>
</div><!-- blanket -->
