<div class="blanket" ng-click="cancel()">

  <div id="editFormWindow" ng-click="$event.stopPropagation();">
    <h1>Edit Form: </h1>
    <div class="main">
    <label>name:</label>
    <input ng-model="editForm.name"/>
    <label>to email:</label>
    <input ng-model="editForm.email"/>
    <button ng-click="addField(editForm)"><i class="fa fa-plus"></i> Add Field</button>
    </div>
    <div ng-if="editForm.data" ng-repeat="field in editForm.data track by $index">
      <input ng-model="field.name"/>
      <button class="type" ng-class="(field.type == 'all')?'selected':''" ng-click="setType('all',field)">all</button>
      <button class="type" ng-class="(field.type == 'name')?'selected':''" ng-click="setType('name',field)">name</button>
      <button class="type" ng-class="(field.type == 'number')?'selected':''" ng-click="setType('number',field)">number</button>
      <button class="type" ng-class="(field.type == 'email')?'selected':''" ng-click="setType('email',field)">email</button>

      <button class="move" ng-if="($index != 0)" ng-click="order.up(editForm.data, field, $index)"><i class="fa fa-chevron-up"></i></button>
      <button class="move" ng-if="($index != editForm.data.length - 1)" ng-click="order.down(editForm.data, field, $index)"><i class="fa fa-chevron-down"></i></button>

    </div>
    <button class="save" ng-click="save(editForm)"><i class="fa fa-save"></i> Save</save>
  </div>
</div><!-- blanket -->
