#topNav{
  background-color: #EAEAEA;
}
#topNav ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
  background-color: #EAEAEA;
}
#topNav li{
  display: inline-block;
}
#topNav a{
  display: inline-block;
  box-sizing: border-box;
  height: 52px;
  padding: 16px;
  text-decoration: none;
  background-color: #EAEAEA;
  color: #000;
}
#topNav a:hover{
  background-color:#49ad33;
  color: #FFF;
}

/* Right Nav */

#sideNav {}
#sideNav ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#sideNav  a{
  display: block;
  padding: 1rem;
  text-decoration: none;
  background-color: #DCEDC8;
  color: #000;
}
#sideNav a:hover{
  background-color: #49ad33;
  color: #FFF;
}

/* Hidden Nav */

#hiddenNav{
  background-color: #EAEAEA;
  position: fixed;
  top: 4rem;
  z-index: 14;
  width: 100%;
  box-shadow: 0px 0px 1rem -0.2rem rgba(0,0,0,0.75);
  height: calc(100% - 64px);
  overflow-y: scroll;
}
#hiddenNav ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
  background-color: #EAEAEA;
}
#hiddenNav li{
  display: block;
  border-bottom: 1px solid #666;
}
#hiddenNav a{
  display: block;
  box-sizing: border-box;
  height: 4rem;
  font-size: 2rem;
  line-height: 2rem;
  padding: 1rem;
  text-decoration: none;
  background-color: #EAEAEA;
  color: #000;
}
#hiddenNav a:hover{
  background-color:#49ad33;
  color: #FFF;
}
