
<div style="clear:both"></div>
<div ng-bind-html="php"></div>
<!-- Article Folder -->

<div id="articleFolder">
  <h2>Select Folder</h2>
  <div class="inline" ng-click="openFolder(null)">root</div>
  <div class="inline" ng-repeat="parent in current_parents" ng-click="openFolder(parent)">{{parent.name}}</div>
  <div class="inline" ng-if="current_folder != null">{{current_folder.name}}</div>
  <div style="clear:both"></div>
  <div class="folder line" ng-repeat="folder in folders" ng-if="folder.parent == current_folder.id" folder-item="onDropFn" draggable="true" ng-click="openFolder(folder)">
  {{folder.name}}
  </div>
  <button class="btn create article" ng-if="current_folder" type="button" ng-click="open_editor(new_article)">Create new article {{current_folder.name}}</button>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - -
                Article Lines
- - - - - - - - - - - - - - - - - - - - - - -->

<div class="article line" ng-repeat="article in articles" ng-click='open_editor(article)'>
<div class="text">{{article.header}}</div>
<button ng-click="deleteArticle(article)" class="btn">Delete</button>
</div>

<!-- - - - - - - - - - - - - - - - - - - - - -
              Edit Article Form
- - - - - - - - - - - - - - - - - - - - - - -->

<div id="sheet" ng-show="article_editor"
ng-mousedown='prompt("Are you sure to close this","Cancel","Close","close_editor()")'>


  <div id="articleForm" ng-show="article_editor" ng-mousedown='$event.stopPropagation()'>
    <!-- - - - - - - - - - - - - - - - - - - - - -
                  Edit File Description
    - - - - - - - - - - - - - - - - - - - - - - -->
    <div id="sheet_editfile" ng-if="openFileEditor" ng-click='cancelEditFile()'>
      <div class="content" ng-click='$event.stopPropagation()'>
        <button class="btn top close" ng-click='cancelEditFile()' value="change">
        <i class="fa fa-times" aria-hidden="true"></i>
        </button>
        <img src="/missionlife/uploads/image/small/{{editFile.file_src}}">
        <h3>Edit File</h3>
        <div class="smallFileBtn remove_btn" ng-click='cancelEditFile()'>
          <i class="fa fa-times"></i>
        </div>
        <label for="description">Local filename:</label>
      <input name="description" ng-model='editFile.new_file_desc'/>
      <button class="btn foot save" ng-click='storeNewName()' value="change">
      <i class="fa fa-floppy-o" aria-hidden="true"></i>Save
      </button>
      <button class="btn foot close" ng-click='cancelEditFile()' value="change">
        Cancel
      </button>
      <div style="clear:both"></div>
      </div>
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - -
                  Article Form Body
    - - - - - - - - - - - - - - - - - - - - - - -->
    <form id="formArea">
    <input ng-show="!edit_article.is_new" type="button" ng-click="saveArticle(edit_article)" value="edit">
    <label for="header">Article Header:</label>
    <input name="header" type="text" ng-model="edit_article.header" placeholder="New article header."/>
    <label for="content">Article Content:</label>
    <input id="inputArea" name="content" ng-model="edit_article.content" placeholder="Article Content" >
    </form>
    <!-- - - - - - - - - - - - - - - - - - - - - -
                      Images
    - - - - - - - - - - - - - - - - - - - - - - -->
    <div id="upload_image" custom-on-drop="onDropFiles">
      <div class="drophere" custom-on-drop="onDropFiles">Drop your images here or:</div>
      <label for="file" custom-on-drop="onDropFiles">Choose a file</label>
      <input type="file" name="file" id="file" multiple custom-on-change = "selectedFiles">
    </div>
    <input ng-show="edit_article.is_new" type="button" ng-click="insert()" value="save new">

    <!-- - - - - - - - - - - - - - - - - - - - - -
                       Files
    - - - - - - - - - - - - - - - - - - - - - - -->
    <div class="files" >
      <div ng-repeat="file in article_files" class="one_file" file-item="" draggable="true">
        <div class="smallFileBtn remove_btn" ng-click="removeFile(file)"><i class="fa fa-times"></i></div>
        <div ng-if='file.file_type == "png"' class="image">
          <img src="/missionlife/uploads/image/small/{{file.file_src}}"/>
          <div class="filename">{{file.file_desc}}</div>
        </div>
        <div ng-if='file.file_type == "pdf"'>
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
          <input class="fileNameInput" ng-model="file.file_name"/>
          {{file.file_name}} <br> {{megaBytes(file.file_size)}} MB
        </div>

        <div class="smallFileBtn edit_btn" ng-click="startEditFile(file)"><i class="fa fa-pencil-square" aria-hidden="true"></i></div>
      </div>
    </div>
  </div>
</div>
<div ng-bind-html='php'></div>
