<div ng-bind-html='php'></div>
<!-- New Garant -->

<div class="GarantCard">
  <div class="header">New Garant</div>
  <!-- Image Drop -->
  <div class="imageDroparea" is-drop-area="onDropImage">
    <label for="newGarantFile" ng-class="labelPosition(new_garant)"><i class="fa fa-picture-o"></i></label>
    <input id="newGarantFile" type="file" name="droppedFile"/>
    <img ng-if="new_garant.image" src="{{new_garant.image}}" width="250px">
  </div>
  <div class="content">
    <label for="garantName">Garant name:</label>
    <input name="garantName" ng-model="new_garant.header">
    <label for="garantTitle">Garant title:</label>
    <input name="garantTitle" ng-model="new_garant.title">
    <label for="garantWeb">Garant web:</label>
    <input name="garantWeb" ng-model="new_garant.webpage">
    <label for="motto">Motto:</label>
    <textarea type="textarea" name="motto" ng-model="new_garant.content"></textarea>
  </div>
  <div class="control">
    <input type='button' ng-click='insert()' value="Insert New">
  </div>
</div><!-- End New Garant -->

<div id="garantPopUp" ng-if="editor_open" ng-click="closeEditor()">
  <div class="GarantCard inPopUp" ng-click="$event.stopPropagation()">
    <div class="header">Edit Garant</div>
    <!-- Image Drop -->
    <div class="imageDroparea" is-drop-area="onEditDropImage">
      <label for="newGarantFile" ng-class="labelPosition(edit_garant)"><i class="fa fa-picture-o"></i></label>
      <input id="newGarantFile" type="file" name="droppedFile"/>
      <img ng-if="edit_garant.image" src="{{editImagePath()}}" width="250px">
    </div>
    <div class="content">
      <label for="garantName">Garant name:</label>
      <input name="garantName" ng-model="edit_garant.header">
      <label for="garantName">Garant Title:</label>
      <input name="garantName" ng-model="edit_garant.title">
      <label for="garantWeb">Garant web:</label>
      <input name="garantWeb" ng-model="edit_garant.webpage">
      <label for="motto">Motto:</label>
      <textarea type="textarea" contenteditable="true" name="motto" ng-model="edit_garant.content"></textarea>
    </div>
    <div class="control">
      <input type='button' ng-click='update()' value="Save Changes">
    </div>
  </div><!-- Edit Garant -->
</div>
<div style="clear:both"></div>
<div class="GarantCard" ng-repeat="garant in garants">
  <!-- Image Drop -->

  <div class="imageDroparea" ng-if="garant.image">
    <img  src="/missionlife/uploads/image/{{garant.image}}" >
  </div>
  <div class="content">
    <h3 class="header">{{garant.header}}</h3>
    <p class="title">{{garant.title}}</p>
    <p class="motto">{{garant.content}}</p>{{garant.webpage}}
    <a ng-if="garant.webpage" href="{{garant.webpage}}" target="_blank">navstivit stranku</a>
  </div>
  <div class="control">
    <input type='button' ng-click='delete(garant)' value="Delete">
    <input type='button' ng-click='edit(garant)' value="Change">
  </div>
</div><!-- Edit Garant -->
