<style>
#pageList{
  background-color: #EEEEEE;
  box-sizing: border-box;
  position: fixed;
  width: 200px;
  padding: 16px;
  height: calc(100% - 64px) ;
}
#pageList > div.pageBtn{
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  text-align: left;
  background-color: #FFF;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  margin-top: 8px;
}
#pageList > div.name{
  text-transform: uppercase;
}
#pageList > div.pageBtn i{
  color: #EAEAEA;
  background-color: none;
  padding: 4px 4px;
}
#pageList > div.pageBtn:hover i{
  color: #999;
}
#pageList > div.pageBtn:hover i:hover{
  color: #000;
  cursor: pointer;
}
#pageList > .labelList{
  box-sizing: border-box;
  color: #9E9E9E;
  width: 100%;
  text-align: left;
  margin: 8px 0px;
  padding: 8px;
  border-bottom: 1px solid #BDBDBD
}
#pagePreview{
  box-sizing: border-box;
  background-color: #EEEEEE;
  margin-left: 200px;
  min-height: calc(100% - 64px) ;
}
#pageView{
  margin: 0 auto;
  max-width: 550px;
  min-height: 64px;
  margin-top: 24px;
  padding: 8px;
}
#pageView img{
  width: 100%;
}
#pageView article{
  margin-bottom: 24px;
  margin-top: 8px;
  background-color: #FFF;
  padding: 24px;
}

.columns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.column{
  flex:1;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.column article{
  margin: 8px;
}
</style>


<div id="pageList">
<button ng-click="openPopEditPage()" ><i class="fa fa-plus"></i> Add Page</button>
<div class="labelList">Pages</div>
  <div class="pageBtn" ng-repeat="page in pages" ng-click="openPage(page)">
    <div class="name"> {{page.name}} </div>
    <div><i class="fa fa-cog" ng-click="openPopEditPage(page); $event.stopPropagation();"></i></div>
  </div>
</div>


<div id="pagePreview" >
  <div ng-if="currPage != false">
  <button ng-click="openSelectArticle()"><i class="fa fa-plus"></i><i class="fa fa-file-text"></i> Add Article</button>
  <button ng-click="openSelectFolder()"><i class="fa fa-plus"></i><i class="fa fa-folder"></i> Add Folder</button>
  <div id="pageView">
    <div ng-repeat="item in currPageItems">
      <button ng-click="removeItem(item)"><i class="fa fa-minus"></i></button>
      <button ng-click="orderUp(item)"><i class="fa fa-arrow-up"></i></button>
      <button ng-click="orderDown(item)"><i class="fa fa-arrow-down"></i></button>
      <article class="shadow" ng-if="item.type == 1"><h1>{{item.obj.header}}</h1><div ng-bind-html="item.obj.content"></div></article>

      <div class="columns" ng-if="item.type == 2" >
        <div class="column" ng-repeat="k in getNumber(columns)">
          <div ng-repeat="article in item.obj" ng-if="$index % columns == 0 && item.obj.length > ($index+k)">
              <article class="shadow">
                <h1>{{item.obj[$index+k].header}}</h1>
                <div ng-bind-html="item.obj[$index+k].content"></div>
              </article>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
