<div class="blanket centered" ng-click="cancel()">

  <div  class="window shadow pa-3" ng-click="$event.stopPropagation();">
    <input type="text" ng-model="link.name" placeholder="Link Text">
    <input type="text" ng-model="link.href" placeholder="Link to web page">

    <div ng-if="new">
      <button ng-click="save()">SAVE</button>
    </div>
    <div ng-if="!new">
      <button ng-click="delete()">DELETE</button>
      <button ng-click="update()">UPDATE</button>
    </div>
  </div><!-- end of window -->
</div><!-- end of blanket -->
