<div class="blanket" ng-click="cancel()">
  <div class="bg-white window shadow" folders-data='folders' ng-click="$event.stopPropagation();">
    <div class="bg-yellow row v-center space-between">
      Select PopUp
      <button class="close" ng-click="cancel()"><i class="fa fa-times"></i></button>
    </div>
    <div class="folderTopPanel" ng-if="setup.createFolder">
      <path-to-folder></path-to-folder>
      <add-folder></add-folder>
    </div>
    <div class="row">
      <div class="folderTree">
        <folder-tree-line ng-repeat='folder in folders' ng-if='folder.parent == null'></folder-tree-line>
      </div>
      <div class="folderOpen">
      <div  class="folderLine line" ng-repeat="folder in folders" ng-if="(folder.parent == currentFolder.id)">
        <button class="name" ng-click="openFolder(folder)">
          <i class="fa fa-folder"></i> {{folder.name}}</button>
      </div>
      <!-- SELECT FILE -->
      <div ng-if="setup.selectArticleOrFile">
        <div class="ArticleLine" ng-repeat="article in articles">
          <button class="name" ng-click="call('article', article)">
            <i class="fa fa-file-text-o"></i> {{article.header}}
          </button>
        </div>
        <div class="fileLine" ng-repeat="file in files">
          <button class="name" ng-click="call('file', file)">
          <i ng-class="fileTypeClass(file.file_type)"></i> {{file.file_name}}
          </button>
        </div>
        <div class="fileLine" ng-repeat="form in forms">
          <button class="name" ng-click="call('form', form)">
          <i class="fa fa-tasks"></i> {{form.name}}
          </button>
        </div>
      </div>
      <!-- SELECT IMAGE -->
      <style>

      </style>
      <!-- columns -->
      <div ng-if="setup.selectImage" class="imagesWrap">
        <div class="column" ng-repeat="i in getNumber(columns)">
          <div class="imgs" ng-repeat="image in images" ng-if="$index % columns == 0">
            <!-- item -->
            <a class="imageSquare" ng-if="images.length > $index + i" ng-click="call('image', images[$index+i])">
                <img src="/uploads/image/small/{{images[$index+i].file_src}}" />
            </a>

          </div>
        </div>
      </div>
    </div>
      <div style="clear:both"></div>
    <div class="under">
      <div class="selectedPath">
      <path-to-folder></path-to-folder>{{selectedName}}
      </div>
      <button class="submit" ng-click="submitFn(selectedItem)">
      <i class="fa fa-check"></i> Submit
      </button>
      <div style="clear:both"></div>
    </div>
    <div style="clear:both"></div>
    </div>
    <div style="clear:both"></div>
  </div><!-- end of window -->
</div><!-- end of blanket -->
