<style>

#pageList > div > div.pageBtn{
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  text-align: left;
  background-color: #FFF;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  margin-top: 8px;
}


.orderPlaceholder{
margin: 0px;
background-color: #E0E0E0;
height: 0px;
width: 100%;

-webkit-transition: all 400ms cubic-bezier(.17,.67,.55,1.34);
-moz-transition: all 400ms cubic-bezier(.34,1,.44,1);
-o-transition: all 400ms cubic-bezier(.34,1,.44,1);
transition: all 400ms cubic-bezier(.17,.67,.55,1.34);

-webkit-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.55);
-moz-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.55);
box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.55);
}
.orderPlaceholder.grown{
  height: 40px;
  margin-top: 8px;
}

#pageList > div.name{
  text-transform: uppercase;
}
#pageList > div.pageBtn i{
  color: #EAEAEA;
  background-color: none;
  padding: 4px 4px;
}
#pageList > div.pageBtn:hover i{
  color: #999;
}
#pageList > div.pageBtn:hover i:hover{
  color: #000;
  cursor: pointer;
}
#pageList > .labelList{
  box-sizing: border-box;
  color: #9E9E9E;
  width: 100%;
  text-align: left;
  margin: 8px 0px;
  padding: 8px;
  border-bottom: 1px solid #BDBDBD
}

#pageView{
  margin: 0 auto;
  max-width: 550px;
  min-height: 64px;
  margin-top: 24px;
  padding: 8px;
}
#pageView img{
  width: 100%;
}
#pageView article{
  margin-bottom: 24px;
  margin-top: 8px;
  background-color: #FFF;
  padding: 24px;
}
#pageView article h1{
  font-weight: 500;
  font-size: 1.70em;
}
#pageView article h2{
  font-weight: 500;
  font-size: 1.20em;
}
#pageView article p{
  font-weight: 300;
  font-size: 1em;
}
#pageView article.form  label{
  margin: 4px 0px;
  display: block;
}
#pageView article.form  input{
  box-sizing: border-box;
  width: 100%;
  padding: 4px;
  display: block;
}
#pageView article.form  textarea{
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  width: 100%;
  padding: 4px;
  display: block;
  resize: vertical;
}
#pageView article.form .control{
  margin-top: 24px;
  display: flex;
  flex-direction: row-reverse;
  font-family: 'Source Sans Pro', sans-serif;
}
#pageView article.form .control button{
  font-family: 'Source Sans Pro', sans-serif;
}
#pageView article iframe{
  width: 100%;
  height: 220px;
  max-width: 100%;
  border: none;

  font-family: 'Source Sans Pro', sans-serif;
}
.columns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}
.column{
  flex:1;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.column article{
  margin: 8px;
}
</style>
<div id="pageGrid">
<div id="pageList" >
<button  ng-click="openPopEditPage()" ><i class="fa fa-plus"></i> Add Page</button>

<div class="labelList" data-label="1" ng-mousemove="oMouseOver($event)">Top</div>
  <div>
    <div ng-if="page.state == 1" class="pageBtn" data-id="{{page.id}}" data-order="{{page.order}}" data-state="{{page.state}}" ng-repeat="page in pages" ng-mousedown="oMouseDown($event)" ng-mousemove="oMouseOver($event)" ng-click="openPage(page)">
      <div class="name"> {{page.order}} - {{page.name}} </div>
      <div><i class="fa fa-cog" ng-click="openPopEditPage(page); $event.stopPropagation();"></i></div>
    </div>
  </div>
<div class="labelList" data-label="2" ng-mousemove="oMouseOver($event)">Side</div>
  <div>
    <div ng-if="page.state == 2" class="pageBtn" data-id="{{page.id}}" data-order="{{page.order}}" data-state="{{page.state}}" ng-repeat="page in pages" ng-mousedown="oMouseDown($event)" ng-mousemove="oMouseOver($event)" ng-click="openPage(page)">
      <div class="name"> {{page.order}} - {{page.name}} </div>
      <div><i class="fa fa-cog" ng-click="openPopEditPage(page); $event.stopPropagation();"></i></div>
    </div>
  </div>
<div class="labelList" data-label="0" ng-mousemove="oMouseOver($event)">Pages</div>
  <div>
    <div ng-if="page.state == 0" class="pageBtn" data-id="{{page.id}}" data-order="{{page.order}}" data-state="{{page.state}}" ng-repeat="page in pages" ng-mousedown="oMouseDown($event)" ng-mousemove="oMouseOver($event)" ng-click="openPage(page)">
      <div class="name"> {{page.order}} - {{page.name}} </div>
      <div><i class="fa fa-cog" ng-click="openPopEditPage(page); $event.stopPropagation();"></i></div>
    </div>
  </div>
</div>


<div id="pagePreview">
  <div ng-if="currPage != false">

  <button ng-click="openSelectArticle()"><i class="fa fa-plus"></i> <i class="fa fa-file-text"></i> Add Article</button>
  <button ng-click="openSelectFolder()"><i class="fa fa-plus"></i> <i class="fa fa-folder"></i> Add Folder</button>
  <button ng-click="openSelectForm()"><i class="fa fa-plus"></i> <i class="fa fa-list"></i> Add Form</button>

    <div id="pageView">
      <div ng-repeat="item in currPageItems">
        <button ng-click="removeItem(item)"><i class="fa fa-minus"></i></button>
        <button ng-click="orderUp(item)"><i class="fa fa-arrow-up"></i></button>
        <button ng-click="orderDown(item)"><i class="fa fa-arrow-down"></i></button>
        <!-- Single Article -->
        <article class="shadow" ng-if="item.type == 1">
          <h1>{{item.obj.header}}</h1>
          <div ng-bind-html="item.obj.content"></div>
        </article>
        <!-- Folder Articles -->
        <div class="columns" ng-if="item.type == 2" >
          <div class="column" ng-repeat="k in getNumber(columns)">
            <div ng-repeat="article in item.obj" ng-if="$index % columns == 0 && item.obj.length > ($index+k)">
                <article class="shadow">
                  <h1>{{item.obj[$index+k].header}}</h1>
                  <div ng-bind-html="item.obj[$index+k].content"></div>
                </article>
            </div>
          </div>
        </div>
        <!-- Form -->
        <article class="form shadow" ng-if="item.type == 3">
          <h1>{{item.obj.name}}</h1>
          <div ng-repeat="formInput in item.obj.data">
            <label>{{formInput.name}}</label>
            <input ng-if="formInput.type != 'all'" type="{{formInput.type}}"></input>
            <textarea ng-if="formInput.type == 'all'"></textarea>
          </div>
          <div class="control">
          <button> SUBMIT </button>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
</div><!-- pageGrid -->
