<div id="pageGrid">

<div id="pageList" >

  <button  ng-click="openPopEditPage()" ><i class="fa fa-plus"></i> Add Page</button>

  <div class="labelList" data-label="1" ng-mousemove="oMouseOver($event)">Top</div>
    <div>
      <div ng-if="page.state == 1" class="pageBtn" data-id="{{page.id}}" data-order="{{page.order}}" data-state="{{page.state}}" ng-repeat="page in pages" ng-mousedown="oMouseDown($event)" ng-mousemove="oMouseOver($event)" ng-click="openPage(page)">
        <div class="name"> {{page.order}} - {{page.name}} </div>
        <div><i class="fa fa-cog" ng-click="openPopEditPage(page); $event.stopPropagation();"></i></div>
      </div>
    </div>

  <div class="labelList" data-label="2" ng-mousemove="oMouseOver($event)">Side</div>
    <div>
      <div ng-if="page.state == 2" class="pageBtn" data-id="{{page.id}}" data-order="{{page.order}}" data-state="{{page.state}}" ng-repeat="page in pages" ng-mousedown="oMouseDown($event)" ng-mousemove="oMouseOver($event)" ng-click="openPage(page)">
        <div class="name"> {{page.order}} - {{page.name}} </div>
        <div><i class="fa fa-cog" ng-click="openPopEditPage(page); $event.stopPropagation();"></i></div>
      </div>
    </div>

  <div class="labelList" data-label="0" ng-mousemove="oMouseOver($event)">Pages</div>
    <div>
      <div ng-if="page.state == 0" class="pageBtn" data-id="{{page.id}}" data-order="{{page.order}}" data-state="{{page.state}}" ng-repeat="page in pages" ng-mousedown="oMouseDown($event)" ng-mousemove="oMouseOver($event)" ng-click="openPage(page)">
        <div class="name"> {{page.order}} - {{page.name}} </div>
        <div><i class="fa fa-cog" ng-click="openPopEditPage(page); $event.stopPropagation();"></i></div>
      </div>
    </div>

</div>


<div id="pageAddItem" ng-if="currPage != false">
      <button ng-click="openSelectArticle()"><i class="fa fa-plus"></i> <i class="fa fa-file-text"></i> Add Article</button>
      <button ng-click="openSelectFolder()"><i class="fa fa-plus"></i> <i class="fa fa-folder"></i> Add Folder</button>
      <button ng-click="openSelectForm()"><i class="fa fa-plus"></i> <i class="fa fa-list"></i> Add Form</button>
</div>

<div id="pageView" ng-if="currPage != false">
      <div ng-repeat="item in currPageItems">
        <div class="pageItemControl">
        <button ng-click="removeItem(item)"><i class="fa fa-minus"></i></button>
        <button ng-click="orderUp(item)"><i class="fa fa-arrow-up"></i></button>
        <button ng-click="orderDown(item)"><i class="fa fa-arrow-down"></i></button>
        </div>
        <!-- Single Article -->
        <article class="shadow" ng-if="item.type == 1">
          <h1>{{item.obj.header}}</h1>
          <div ng-bind-html="item.obj.content"></div>
        </article>
        <!-- Folder Articles -->
        <div class="columns" ng-if="item.type == 2" >
          <div class="column" ng-repeat="k in getNumber(columns)">
            <div ng-repeat="article in item.obj" ng-if="$index % columns == 0 && item.obj.length > ($index+k)">
                <article class="shadow">
                  <h1>{{item.obj[$index+k].header}}</h1>
                  <div ng-bind-html="item.obj[$index+k].content"></div>
                </article>
            </div>
          </div>
        </div>
        <!-- Form -->
        <article class="form shadow" ng-if="item.type == 3">
          <h1>{{item.obj.name}}</h1>
          <div ng-repeat="formInput in item.obj.data">
            <label>{{formInput.name}}</label>
            <input ng-if="formInput.type != 'all'" type="{{formInput.type}}"></input>
            <textarea ng-if="formInput.type == 'all'"></textarea>
          </div>
          <div class="control">
          <button> SUBMIT </button>
          </div>
        </article>
      </div>

</div>

</div><!-- pageGrid -->
