<div class="settings">
  <div class="row">
    <div class="column">
      <div class="dropImage" is-drop-area="dropFunction">
        <img ng-if="settings.data.logo" src="/uploads/image/{{settings.data.logo}}"/>
        <label for="uploadLogo" class="shadow">
          <i class="fa fa-upload"></i> Upload
        </label>

        <button ng-click="searchImage()" class="shadow"><i class="fa fa-folder-open-o"></i></button>
        <input id="uploadLogo" type="file" custom-on-change="pickFile" />
      </div>
    </div>
    <div class="column">
      <label for="pagename">Page Name:</label>
      <input name="pagename" ng-model="page.page_name">
      <label for="motto">Motto:</label>
      <textarea type="textarea" name="motto" ng-model="page.page_motto"></textarea>
      <input type='button' value="Submit" ng-click="changePageData()">
    </div>
  </div>
</div>
