@mixin windowDefault{
  background-color: $white;
  display: flex;
  flex-direction: column;
}
@mixin windowHeader{

  display: flex;
  flex-direction: row;
  justify-content: space-between; /* to put close button to the right */

  line-height: 2rem; /* make text in middle of header */
  padding-left: 1rem;/* padding for text */

  min-height: 2rem; /* in some cases was header shrinked in windows with not fixed height */

  background-color: $primary;

  button.close{
    background-color: $white;
  }
}



// DO NOT CHANGE
@mixin flexrow{  display: flex;  flex-direction: row;}
@mixin flexcolumn{  display: flex;  flex-direction: column;}
