@mixin windowDefault{
  background-color: $white;
  display: flex;
  flex-direction: column;
  .header{
    @include windowHeader;
  }
}

@mixin windowHeader{

  display: flex;
  flex-direction: row;
  justify-content: space-between; /* to put close button to the right */

  line-height: 2rem; /* make text in middle of header */
  padding-left: 1rem;/* padding for text */

  min-height: 2rem; /* in some cases was header shrinked in windows with not fixed height */

  background-color: $primary;

  button.x-close{
    background-color: $white;
  }
  button.x-close:hover{
    cursor: pointer;
    background-color: $red;
    color: $white;
  }
}
@mixin windowBottomControls{
    min-height: 3rem;
    box-sizing: border-box;
    padding: 0.5rem;
    border-top: 1px solid $gray;
    button{
      margin-left: 0.5rem;
    }
    display: flex;
    direction: row;
    justify-content: flex-end;
}


// DO NOT CHANGE
@mixin flexrow{  display: flex;  flex-direction: row;}
@mixin flexcolumn{  display: flex;  flex-direction: column;}
