#editArticle{
  .articleWindow{
    @include windowDefault;
    min-height: 500px;
    max-height: 80%;

    .header{  @include windowHeader;  }

    .content{
      display: flex;
      flex-direction: row;
      overflow-y: hidden;
      /* Buttons */
      #articleEditorControls{
        li{
          button{
            display: block;
            text-align: left;
            width: 100%;
          }
        }

      }
      /* Editor */
      #articleEditorForm{
        display: flex;
        flex-direction: column;

        width: 500px;
        overflow-y: hidden;

        #articleEditorHeader{
          margin-bottom: 1rem;
        }
        .editor_wrap{
          display: flex;
          flex-direction: column;
          /*Editor*/
          .ctrl_btns{
            button.intLink{
              background-color: $white;
              display: inline-block;
            }
            button.intLink:hover{
              background-color: $gray;
              cursor: pointer;
            }
          }
          .content_wrap{
            box-sizing: border-box;
            overflow-y: scroll;
            margin-bottom: 1rem;
            min-height: 350px;
            padding: 1rem;
          }
          .switch_wrap{

          }
        }

        #articleEditorContent{
          overflow-y: scroll;

        }
      }
    }
    .footer{
      background-color: $gray;
      line-height: 2rem;
      height: 2rem;
      padding-left: 0.5rem;
    }
  }
}
