#editArticle{
  .articleWindow{
    @include windowDefault;
    min-height: 500px;
    max-height: 80%;

    .header{
      @include windowHeader;
    }

    .content{
      @include flexrow;
      overflow-y: hidden;
      /* Buttons */

      #articleEditorControls{
        box-sizing: border-box;
        padding-right: 1rem;
        padding-top: 1rem;

        button{
          background-color: $gray;
          display: block;
          text-align: left;
          width: 100%;
          margin-bottom: 0.25rem;
        }
        button:hover{  background-color: $yellow_500; cursor: pointer;  }

        ul.main{
          margin-bottom: 1rem;
          li{
            button.save{ background-color: $yellow_500 ; }
            button.delete{ background-color: $yellow_500; }
            button.save:hover{ background-color: $green; }
            button.delete:hover{ background-color: $red_bright; }
          }
        }
        ul.edit{
          li{
          }
        }
      }
      /* Editor */
      #articleEditorForm{
        @include flexcolumn;
        width: 500px;
        overflow-y: hidden;

        #articleEditorHeader{
          margin-bottom: 1rem;
        }
        .editor_wrap{
          @include flexcolumn;
          /*Editor*/
          .ctrl_btns{
            button.intLink{
              background-color: $white;
              display: inline-block;
            }
            button.intLink:hover{
              background-color: $gray;
              cursor: pointer;
            }
          }
          .content_wrap{
            box-sizing: border-box;
            overflow-y: scroll;
            margin-bottom: 1rem;
            min-height: 350px;
            padding: 1rem;
          }
          .switch_wrap{

          }
        }

        #articleEditorContent{
          overflow-y: scroll;

        }
      }
    }
    .footer{
      background-color: $gray;
      line-height: 2rem;
      height: 2rem;
      padding-left: 0.5rem;
    }
  }
}
