.window{
    display: grid;
    box-sizing: border-box;
    height: 100%;
    grid-gap: 0px;
    grid-template-columns: auto;
    grid-template-rows: 2rem 2rem calc(100% - 6rem) 2rem;
    grid-template-areas:
    "windowHeader"
    "windowTooltab"
    "windowContent"
    "windowFooter";
}

.header{
  grid-area: windowHeader;
}
.tooltab{
  grid-area: windowTooltab;
}
.content{
  grid-area: windowContent;
  overflow-y: scroll;
}

/* Garant */
.garantContent{

}
