.window{
    display: grid;
    box-sizing: border-box;
    height: 90%;
    grid-gap: 0px;
    grid-template-columns: auto;
    grid-template-rows: 2rem 2rem calc(100% - 6rem) 2rem;
    overflow: hidden;
    grid-template-areas:
    "windowHeader"
    "windowTooltab"
    "windowContent"
    "windowFooter";
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-area: windowHeader;
  line-height: 2rem;
  padding-left: 1rem;
}
.tooltab{
  grid-area: windowTooltab;
}
.content{
  grid-area: windowContent;
}
.footer{
  padding-left: 1rem;
  background-color: #EAEAEA;
  grid-area: windowFooter;
  line-height: 2rem;
}
/* Garant */
.garantContent{

}
