#pageGrid{
  display: grid;
  height: 100%;
  grid-template-columns: 250px auto;
  grid-template-rows: 4rem auto;
  grid-template-areas:
  "pageList pageAdd"
  "pageList pageView";
}
#pageList{
  padding: 1rem;
  grid-area: pageList;
  display: flex;
  flex-direction: column;
  background-color: #EEEEEE;
}
#pageAddItem{
  padding: 1rem;
  grid-area: pageAdd;
  display: flex;
  flex-direction: row;
}
#pageView{
  padding: 1rem;
  max-height: 100%;
  grid-area: pageView;
  background-color: #EEEEEE;
  overflow: hidden;
  overflow-y: scroll;
}
