#pageList > div > div.pageBtn{
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  text-align: left;
  background-color: #FFF;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  margin-top: 8px;
}
#pageList > div.name{
  text-transform: uppercase;
}
#pageList > div.pageBtn i{
  color: #EAEAEA;
  background-color: none;
  padding: 4px 4px;
}
#pageList > div.pageBtn:hover i{
  color: #999;
}
#pageList > div.pageBtn:hover i:hover{
  color: #000;
  cursor: pointer;
}
#pageList > .labelList{
  box-sizing: border-box;
  color: #9E9E9E;
  width: 100%;
  text-align: left;
  margin: 8px 0px;
  padding: 8px;
  border-bottom: 1px solid #BDBDBD
}
