.formLine{
  margin-bottom: 0px;
  border-bottom: 4px solid #EAEAEA;
  padding: 8px;
  background-color: #FFF;
  color: #999;
}
.formLine button.active{
  box-sizing: border-box;
  height: 21px;
}
.formLine button.active{
  background-color: #FFF;
  border: 1px solid #069554;
  color: #069554;
  outline: none;
  border-radius: 8px;
}
.formLine button.inactive{
  background-color: #FFF;
  border: 1px solid rgb(244,100,95);
  color: rgb(244,100,95);
  outline: none;
  border-radius: 8px;
}
.formLine .delete{
  outline: none;
  padding: 2px 8px;
  border-radius: 8px;
  border: 1px solid rgb(244,100,95);
  color: rgb(244,100,95);
  background-color: #FFF;
;
}
.formLine .edit{
  outline: none;
  padding: 2px 8px;
  border-radius: 8px;
  border: 1px solid #069554;
  color: #069554;
  background-color: #FFF;
;
}
#newForm{
  background-color: #EAEAEA;
  padding: 16px;

}
#newForm h3{
  font-weight: 100;
  padding: 16px 0px;
  margin: 0px;
}
#newForm input{
  padding: 4px;
}
#newForm button{
  background-color: #FFF;
  padding: 5px;
  outline: none;
  border: 1px solid #069554;
  color: #069554;
}

#editFormWindow{
  display: block;
  max-width: 600px;
  margin: 50px auto;
  position: relative;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);

  background-color: #FFF;
  padding: 24px 16px;
}
span.name {
  font-weight: 500;
  color: #000;
  padding-right: 8px;
}
span.email {
  font-weight: 100;
  font-size: 14px;
  color: #666;
  padding-right: 8px;

}


#editFormWindow h1{
  padding: 0px;
  margin: 0px 0px 16px 0px;
  font-weight: 300;
}
#editFormWindow h2{
  border-top: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 100;
}
#editFormWindow .main{
  font-weight: 100;
  background-color: #EFEFEF;
  padding: 16px;
  margin-bottom: 24px;
}
#editFormWindow input{

  padding: 4px;
}
#editFormWindow button.move{
  background-color: #FFF;
  padding: 5px;
  outline: none;
  border: 1px solid #069554;
  color: #069554;
  float: right;
}

#editFormWindow button.type{
  background-color: #EAEAEA;
  padding: 4px;
  border-radius: 5px;
  outline: none;
  border: none;
}
#editFormWindow button.type.selected{
  background-color: #EAEAEA;
  padding: 4px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #069554;
  color: #069554;
}
#editFormWindow button.save{
  box-sizing: border-box;
  height: 40px;
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #069554;
  padding: 4px 16px;
  outline: none;
  border: 1px solid #069554;
  color: #FFF;
}
