#explorerGrid{
  display: grid;
  height: 100%;
  grid-template-columns: 200px auto;
  grid-template-rows: 4rem auto 0rem;
  grid-template-areas:
  "expPath expPath"
  "expFolders expItems"
  "expFooter expFooter";


  #explorerPath{
    padding: 1rem;
    grid-area: expPath;
    display: flex;
    flex-direction: row;

    .inline{
      display: inline-block;
    }
    #NewFolder{
      input{ display: inline-block; }
      button{ display: inline-block; }
    }
  }
  #explorerFoldersTree{

  }
  #explorerFoldersTree{
    padding: 1rem;
    grid-area: expFolders;
    background-color: #FFF;

    .folder{
    box-sizing: border-box;
    width: 100%;

    padding-left: 0.5rem;

      .line{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        width: 100%;

        i.yellow{ color: $folder_color; }
      }
    }
  }
  #explorerFoldersTree .folder > .line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
  }
  #addButtons{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
  }
  #explorerContent{
    position: relative;
    padding: 1rem;
    grid-area: expItems;
    max-height: 100%;
    overflow-y: scroll;

    button{
      background-color: #FFF;
      box-sizing: border-box;
      width: 100%;
      text-align: left;
    }

    button:hover{
      background-color: #EEE;
    }
  }

  #explorerContent button:hover{
    background-color: #EEE;
  }

}
