/* yellow */
/* yellow */
/* darker yellow */
.blanket {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2); }

.shadow {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75); }

/* main */
html, body {
  margin: 0px;
  padding: 0px; }

body {
  background-color: #f0f2f1;
  font-family: 'Source Sans Pro', sans-serif;
  font-smooth: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  max-height: 100%; }

button {
  box-sizing: border-box;
  display: block;
  padding: 0.5rem;
  border: none;
  border-radius: none;
  max-height: 100%;
  outline: none; }

button.selected {
  background-color: #FB0; }

a {
  text-decoration: none; }

form {
  padding: 1rem; }

label {
  padding: 0.5rem 0rem; }

input {
  padding: 0.25rem 0.5rem; }

ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }

ul > li > a {
  display: block;
  padding: 1rem;
  background-color: #FFFFFF; }

ul > li > a:hover {
  background-color: #EFEFEF; }

#sourceText {
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
  overflow: hidden;
  background-color: #FFF3E0;
  display: table;
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */ }

.image {
  position: relative;
  background-color: #FFF3E0;
  display: block;
  text-align: center; }

.mainGrid {
  display: grid;
  box-sizing: border-box;
  height: 100%;
  grid-gap: 0px;
  grid-template-columns: 200px auto;
  grid-template-rows: 4rem calc(100% - 8rem) 4rem;
  grid-template-areas: "header header" "leftPanel routedContent " "footer footer"; }

#theHeader {
  grid-area: header;
  z-index: 2;
  height: 100% !important;
  background-color: #FFEB3B;
  height: 4rem; }
  #theHeader .content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4rem; }
    #theHeader .content h1 {
      margin: 0px;
      padding: 0px 1rem;
      line-height: 4rem;
      font-weight: 100;
      vertical-align: middle; }
    #theHeader .content button {
      width: 2rem;
      height: 2rem;
      margin: 1rem;
      text-align: center;
      border-radius: 2rem; }

#theLeftPanel {
  grid-area: leftPanel;
  z-index: 1;
  background-color: #EEE;
  background-color: #FFF;
  color: black; }
  #theLeftPanel a {
    color: black; }

#theRoutedContent {
  grid-area: routedContent;
  height: 100% !important;
  /* nested grid uses 100% height */ }

#theFooter {
  grid-area: footer;
  z-index: 2;
  background-color: #EEE;
  box-sizing: border-box;
  height: 4rem;
  padding: 1rem;
  background-color: #444;
  color: #FFF; }

#explorerGrid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 200px auto;
  grid-template-rows: 4rem auto;
  grid-template-areas: "expPath expPath" "expFolders expItems"; }
  #explorerGrid #explorerPath {
    padding: 1rem;
    grid-area: expPath;
    display: flex;
    flex-direction: row; }
    #explorerGrid #explorerPath .inline {
      display: inline-block; }
    #explorerGrid #explorerPath #NewFolder input {
      display: inline-block; }
    #explorerGrid #explorerPath #NewFolder button {
      display: inline-block; }
  #explorerGrid #explorerFoldersTree {
    padding: 1rem;
    grid-area: expFolders;
    background-color: #FFF; }
    #explorerGrid #explorerFoldersTree .folder {
      box-sizing: border-box;
      width: 100%;
      padding-left: 0.5rem; }
      #explorerGrid #explorerFoldersTree .folder .line {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        width: 100%; }
        #explorerGrid #explorerFoldersTree .folder .line i.yellow {
          color: #FBC02D; }
  #explorerGrid #explorerFoldersTree .folder > .line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%; }
  #explorerGrid #addButtons {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem; }
  #explorerGrid #explorerContent {
    position: relative;
    padding: 1rem;
    grid-area: expItems;
    max-height: 100%;
    overflow-y: scroll; }
    #explorerGrid #explorerContent button {
      background-color: #FFF;
      box-sizing: border-box;
      width: 100%;
      text-align: left; }
    #explorerGrid #explorerContent button:hover {
      background-color: #EEE; }

/* window */
#editGarant .garantWindow {
  background-color: #FFF;
  max-height: 90%;
  width: 280px; }
  #editGarant .garantWindow .header {
    line-height: 2rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFEB3B; }
    #editGarant .garantWindow .header button.close {
      background-color: #FFF; }
  #editGarant .garantWindow .imageArea {
    display: block;
    background-color: #EAEAEA; }
    #editGarant .garantWindow .imageArea .dropArea {
      padding: 1rem;
      background-color: #EAEAEA; }
      #editGarant .garantWindow .imageArea .dropArea label, #editGarant .garantWindow .imageArea .dropArea button {
        box-sizing: border-box;
        height: 2.5rem;
        line-height: 2.5rem;
        padding: 0rem 0.5rem; }
      #editGarant .garantWindow .imageArea .dropArea label {
        margin-right: 0.5rem; }
      #editGarant .garantWindow .imageArea .dropArea button {
        margin-left: 0.5rem; }
      #editGarant .garantWindow .imageArea .dropArea * {
        display: inline-block; }
    #editGarant .garantWindow .imageArea .hidden {
      display: none; }
  #editGarant .garantWindow .content {
    padding: 1rem;
    display: flex;
    flex-direction: column; }
  #editGarant .garantWindow .control {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem; }
    #editGarant .garantWindow .control button.margin-right {
      margin-right: 0.5rem; }

#editFile .fileWindow {
  background-color: #FFF; }
  #editFile .fileWindow .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* to put close button to the right */
    line-height: 2rem;
    /* make text in middle of header */
    padding-left: 1rem;
    /* padding for text */
    min-height: 2rem;
    /* in some cases was header shrinked in windows with not fixed height */
    background-color: #FFEB3B; }
    #editFile .fileWindow .header button.close {
      background-color: #FFF; }
  #editFile .fileWindow .content header h1.filename {
    font-family: 'Roboto', sans-serif;
    font-weight: 100; }
  #editFile .fileWindow .content .buttons {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem; }
    #editFile .fileWindow .content .buttons .editImage {
      margin-right: 0.5rem; }
  #editFile .fileWindow .content section {
    margin-bottom: 0.5rem; }
  #editFile .fileWindow .content section.details {
    padding: 0.5rem;
    background-color: #EAEAEA; }
    #editFile .fileWindow .content section.details h3 {
      font-weight: 100;
      margin: 0px;
      padding: 0px;
      margin-bottom: 0.5rem;
      line-height: 1rem;
      background-color: none; }
    #editFile .fileWindow .content section.details span {
      font-weight: 100;
      display: inline-block;
      width: 50%;
      overflow-x: hidden; }

#editArticle .articleWindow {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  max-height: 80%; }
  #editArticle .articleWindow .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* to put close button to the right */
    line-height: 2rem;
    /* make text in middle of header */
    padding-left: 1rem;
    /* padding for text */
    min-height: 2rem;
    /* in some cases was header shrinked in windows with not fixed height */
    background-color: #FFEB3B; }
    #editArticle .articleWindow .header button.close {
      background-color: #FFF; }
    #editArticle .articleWindow .header button.x-close {
      background-color: #FFF; }
    #editArticle .articleWindow .header button.x-close:hover {
      cursor: pointer;
      background-color: #ff4081;
      color: #FFF; }
  #editArticle .articleWindow .content {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    /* Buttons */
    /* Editor */ }
    #editArticle .articleWindow .content #articleEditorControls {
      box-sizing: border-box;
      padding-right: 1rem;
      padding-top: 1rem; }
      #editArticle .articleWindow .content #articleEditorControls button {
        background-color: #EAEAEA;
        display: block;
        text-align: left;
        width: 100%;
        margin-bottom: 0.25rem; }
      #editArticle .articleWindow .content #articleEditorControls button:hover {
        background-color: #FFEB3B;
        cursor: pointer; }
      #editArticle .articleWindow .content #articleEditorControls ul.main {
        margin-bottom: 1rem; }
        #editArticle .articleWindow .content #articleEditorControls ul.main li button.save {
          background-color: #FFEB3B; }
        #editArticle .articleWindow .content #articleEditorControls ul.main li button.delete {
          background-color: #FFEB3B; }
        #editArticle .articleWindow .content #articleEditorControls ul.main li button.save:hover {
          background-color: #b2ff59; }
        #editArticle .articleWindow .content #articleEditorControls ul.main li button.delete:hover {
          background-color: #ff79b0; }
    #editArticle .articleWindow .content #articleEditorForm {
      display: flex;
      flex-direction: column;
      width: 500px;
      overflow-y: hidden; }
      #editArticle .articleWindow .content #articleEditorForm #articleEditorHeader {
        margin-bottom: 1rem; }
      #editArticle .articleWindow .content #articleEditorForm .editor_wrap {
        display: flex;
        flex-direction: column;
        /*Editor*/ }
        #editArticle .articleWindow .content #articleEditorForm .editor_wrap .ctrl_btns button.intLink {
          background-color: #FFF;
          display: inline-block; }
        #editArticle .articleWindow .content #articleEditorForm .editor_wrap .ctrl_btns button.intLink:hover {
          background-color: #EAEAEA;
          cursor: pointer; }
        #editArticle .articleWindow .content #articleEditorForm .editor_wrap .content_wrap {
          box-sizing: border-box;
          overflow-y: scroll;
          margin-bottom: 1rem;
          min-height: 350px;
          padding: 1rem; }
      #editArticle .articleWindow .content #articleEditorForm #articleEditorContent {
        overflow-y: scroll; }
  #editArticle .articleWindow .footer {
    background-color: #EAEAEA;
    line-height: 2rem;
    height: 2rem;
    padding-left: 0.5rem; }

/* popup */
/* Select Popup */
#selectPopup .selectWindow {
  background-color: #FFF;
  height: 500px; }
  #selectPopup .selectWindow .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* to put close button to the right */
    line-height: 2rem;
    /* make text in middle of header */
    padding-left: 1rem;
    /* padding for text */
    min-height: 2rem;
    /* in some cases was header shrinked in windows with not fixed height */
    background-color: #FFEB3B; }
    #selectPopup .selectWindow .header button.close {
      background-color: #FFF; }
#selectPopup .content {
  overflow-y: hidden !important;
  /* overwrite default */
  display: grid;
  height: 100%;
  grid-template-columns: 200px minmax(350px, 550px);
  grid-template-rows: minmax(0rem, 2rem) auto 4rem;
  grid-template-areas: "expPath expPath" "expFolders expItems" "expFooter expFooter"; }
  #selectPopup .content .folderTopPanel {
    padding: 1rem;
    grid-area: expPath; }
  #selectPopup .content .folderTree {
    padding: 1rem;
    grid-area: expFolders; }
  #selectPopup .content .folderOpen {
    padding: 1rem;
    grid-area: expItems;
    overflow-y: scroll; }
    #selectPopup .content .folderOpen button {
      background-color: #EEE;
      box-sizing: border-box;
      width: 100%;
      text-align: left; }
    #selectPopup .content .folderOpen button:hover {
      background-color: #E0E0E0; }
  #selectPopup .content .confirmSelection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    grid-area: expFooter; }

.imagesWrap {
  display: flex;
  justify-content: space-around;
  align-content: stretch;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%; }

.column {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start; }

/* Image Selection */
.imgs {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap; }

.imageSquare {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: 150px;
  max-height: 150px;
  margin: 8px;
  background-color: #FFF;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); }

.imageSquare:hover img {
  max-width: 100%; }

.imageSquare img {
  transition-property: margin, max-width;
  transition-duration: 0.2s, 0.3s;
  max-width: 100%; }

/* pages */
.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden; }

.column {
  flex: 1;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  overflow: hidden; }

.column article {
  margin: 8px; }

#pageGrid {
  display: grid;
  height: 100%;
  grid-template-columns: 250px auto;
  grid-template-rows: 4rem auto;
  grid-template-areas: "pageList pageAdd" "pageList pageView"; }

#pageList {
  padding: 1rem;
  grid-area: pageList;
  display: flex;
  flex-direction: column;
  background-color: #EEEEEE; }

#pageAddItem {
  padding: 1rem;
  grid-area: pageAdd;
  display: flex;
  flex-direction: row; }

#pageView {
  padding: 1rem;
  max-height: 100%;
  grid-area: pageView;
  background-color: #EEEEEE;
  overflow: hidden;
  overflow-y: scroll; }

#pageList > div > div.pageBtn {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  text-align: left;
  background-color: #FFF;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  margin-top: 8px; }

#pageList > div.name {
  text-transform: uppercase; }

#pageList > div.pageBtn i {
  color: #EAEAEA;
  background-color: none;
  padding: 4px 4px; }

#pageList > div.pageBtn:hover i {
  color: #999; }

#pageList > div.pageBtn:hover i:hover {
  color: #000;
  cursor: pointer; }

#pageList > .labelList {
  box-sizing: border-box;
  color: #9E9E9E;
  width: 100%;
  text-align: left;
  margin: 8px 0px;
  padding: 8px;
  border-bottom: 1px solid #BDBDBD; }

/* Placeholder is displayed when item is dragged around */
.orderPlaceholder {
  margin: 0px;
  background-color: #E0E0E0;
  height: 0px;
  width: 100%;
  -webkit-transition: all 400ms cubic-bezier(0.17, 0.67, 0.55, 1.34);
  -moz-transition: all 400ms cubic-bezier(0.34, 1, 0.44, 1);
  -o-transition: all 400ms cubic-bezier(0.34, 1, 0.44, 1);
  transition: all 400ms cubic-bezier(0.17, 0.67, 0.55, 1.34);
  -webkit-box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.55);
  box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.55); }

.orderPlaceholder.grown {
  height: 40px;
  margin-top: 8px; }

#pageView img {
  width: 100%; }

#pageView article {
  margin-bottom: 24px;
  margin-top: 8px;
  background-color: #FFF;
  padding: 24px; }

#pageView article h1 {
  font-weight: 500;
  font-size: 1.70em; }

#pageView article h2 {
  font-weight: 500;
  font-size: 1.20em; }

#pageView article p {
  font-weight: 300;
  font-size: 1em; }

#pageView article.form label {
  margin: 4px 0px;
  display: block; }

#pageView article.form input {
  box-sizing: border-box;
  width: 100%;
  padding: 4px;
  display: block; }

#pageView article.form textarea {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  width: 100%;
  padding: 4px;
  display: block;
  resize: vertical; }

#pageView article.form .control {
  margin-top: 24px;
  display: flex;
  flex-direction: row-reverse;
  font-family: 'Source Sans Pro', sans-serif; }

#pageView article.form .control button {
  font-family: 'Source Sans Pro', sans-serif; }

#pageView article iframe {
  width: 100%;
  height: 220px;
  max-width: 100%;
  border: none;
  font-family: 'Source Sans Pro', sans-serif; }
