// this is page picker lets do it

<div class="blanket" ng-click="cancel()">
  <div class="window shadow" ng-click="$event.stopPropagation();">

    <div class="content">
      <div class="pick page">
        <button ng-class="cssSelected(page)" ng-repeat="page in pages" ng-click="selectPage(page)">{{page.name}}</button>
      </div>
    </div>

    <div class="control">
      <button ng-click="cancel()">CANCEL</button>
      <button ng-disabled="!selectedPage" ng-click="select()">SELECT</button>
    </div>
  </div>
</div>
