
/* Select Popup */

#selectPopup.window{
  grid-template-rows: 2rem 0rem calc(100% - 6rem) 2rem;
}
#selectPopup .content{
  overflow-y: hidden !important; /* overwrite default */
  display: grid;
  height: 100%;
  grid-template-columns: 200px minmax(350px, 550px);
  grid-template-rows: minmax(0rem, 2rem) auto 4rem;
  grid-template-areas:
  "expPath expPath"
  "expFolders expItems"
  "expFooter expFooter";
  .folderTopPanel{
    padding: 1rem;
    grid-area: expPath;
  }
  .folderTree{
    padding: 1rem;
    grid-area: expFolders;
  }
  .folderOpen{
    padding: 1rem;
    grid-area: expItems;
    overflow-y: scroll;
    button{
      background-color: #EEE;
      box-sizing: border-box;
      width: 100%;
      text-align: left;
    }
    button:hover{
      background-color: #E0E0E0;

    }
  }
  .confirmSelection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    grid-area: expFooter;
  }
}






.imagesWrap{
  display: flex;
  justify-content: space-around;
  align-content: stretch;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
}
.column{
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
}
/* Image Selection */

.imgs{
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.imageSquare{

  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: 150px;
  max-height: 150px;
  margin: 8px;
  background-color: #FFF;
  overflow: hidden;

  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.imageSquare:hover img{
  max-width: 100%;
}
.imageSquare img{
  transition-property: margin, max-width;
  transition-duration: 0.2s, 0.3s;
  max-width:100%;
}
