
/* Select Popup */
#selectPopup{
  .selectWindow{
    background-color: $white;
    height: 500px;
    overflow: hidden;

    .header{
      @include windowHeader;
    }
  }
  /* Window content */
  .content{
    overflow-y: hidden !important; /* overwrite default */
    display: grid;
    height: calc(100% - 2rem);
    grid-template-columns: 200px minmax(350px, 550px);
    grid-template-rows: auto 3rem;
    grid-template-areas:
    "expFolders expItems"
    "expFooter expFooter";

    .folderTree{
      padding: 1rem;
      padding-left: 0.5rem;
      grid-area: expFolders;
      overflow-y: scroll;

      .folder{
      box-sizing: border-box;
      width: 100%;

      padding-left: 0.5rem;

        .line{
          cursor: pointer;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          box-sizing: border-box;
          width: 100%;

          i.yellow{ color: $folder_color; }
        }
        .line:hover{
          background-color: $gray;
        }
      }
    }

    .folderOpen{
      padding: 1rem;
      grid-area: expItems;
      overflow-y: scroll;
      button{
        cursor: pointer;
        background-color: $white;
        box-sizing: border-box;
        width: 100%;
        text-align: left;
      }
      i.fa-folder{
        color: $folder_color;
      }
      button:hover{
        background-color: $gray;

      }
    }

    .confirmSelection{
      background-color: $gray;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem;
      line-height: 1rem;
      grid-area: expFooter;

      .inline{
        display: inline-block;
      }
      .submit{
        cursor: pointer;
        background-color: $primary;
        margin: -0.5rem;
      }
      .submit:hover{
        background-color: $yellow_300;
      }
    }
  }
}






.imagesWrap{
  display: flex;
  justify-content: space-around;
  align-content: stretch;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
}
.column{
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
}
/* Image Selection */

.imgs{
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.imageSquare{

  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: 150px;
  max-height: 150px;
  margin: 8px;
  background-color: #FFF;
  overflow: hidden;

  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.imageSquare:hover img{
  max-width: 100%;
}
.imageSquare img{
  transition-property: margin, max-width;
  transition-duration: 0.2s, 0.3s;
  max-width:100%;
}
