.ControlPanel{
  background-color: #EAEAEA;
  height: 32px;
}
.ControlPanel>ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.ControlPanel>ul>li{ display: inline-block; }
.ControlPanel>ul>li>a{
  padding: 8px;
  line-height: 16px;
  color: #000;
  text-decoration: none;
  display: inline-block;
}
.RightContent{
  display: block;
  box-sizing: border-box;
  float: right;
  width: 200px;
  height: calc(100% - 96px);
  overflow: hidden;
  background-color: #EAEAEA;
  padding: 8px;

}
.RightContent > button.delete{
  width: 100%;
  height: 40px;
  clear: both;
  border: none;
  outline: none;
  margin-top: 16px;
  background-color: #FFF;
  border: 1px solid rgb(244,100,95);
  color: rgb(244,100,95);
}
.LeftContent{
  display: block;
  float: left;
  background-color: #FFF;
  width: calc(100% - 200px);
  height: calc(100% - 96px);
  overflow: hidden;
}
.Footer{
  padding: 8px;
  line-height: 16px;
  box-sizing: border-box;
  height: 32px;
  clear: both;
  background-color: #666;
}
#articleSubmitButton{
  background-color: #09F;
  width: 100%;
  height: 40px;
  clear: both;
  border: none;
  outline: none;
  color: #FFF;
}
#articleEditorHeader{
  width: 100%;
  box-sizing: border-box;
  padding: 8px 8px;
  font-size: 24px;
  font-weight: 100;
}
*.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}
.editor_wrap{
  height: calc(100% - 96px);
}
.content_wrap{
  height: calc(100% - 96px);
}
.RightContent button.btn{
  background-color: #EAEAEA;
  box-sizing: border-box;
  padding: 4px 8px;
  height: 40px;
  border: none;
  /*border-bottom: 1px solid rgb(244,100,95);*/
}
.RightContent button.btn.selected{
  /*border: 1px solid rgb(244,100,95);*/
  border-bottom: none;
  background-color: #FFF;
}
.RightContent .searchPanel{
  background-color: #FFF;
  height: 24px;
  padding: 8px;
  /*border: 1px solid rgb(244,100,95);*/
  border-top: none;
}
.RightContent .searchPanel i{
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  line-height: 16px;
  padding: 4px;
  background-color: #EAEAEA;
  float: left;
}
.RightContent .searchPanel input{
  box-sizing: border-box;
  width: calc(100% - 24px);
  height: 24px;
  padding: 4px 8px;
  line-height: 16px;
  background-color: #EAEAEA;
  border: none;
  outline: none;
}
.RightContent .lists{
  background-color: #FFF;
  height: 150px;
  padding: 4px;
  overflow-y: scroll;
}
.RightContent .lists .item{
  background-color: #FFF;
  margin-bottom: 4px;
  line-height: 14px;
  font-size: 14px;
  padding: 2px;
}
.RightContent .box{
  width: 100%;
  margin-top: 16px;
}
.RightContent .lists .item:hover{
  background-color: #EAEAEA;
}
.RightContent .flexBox{
  display: flex;
  justify-content: space-between;
}
