.folderWindow{
  position: relative;

}
.folderTopPanel{
  width: 100%;
  box-sizing: border-box;
  background-color: #FFF;
  padding: 16px;
}
.underContent{
}
.inline{
  display: inline-block;
  padding: 0px;
}
.folderTree{
  background-color: #FFF;
  box-sizing: border-box;
  width: 250px;
  float: left;
  padding: 16px;
  height: 300px;
  overflow-y: scroll;
}
.folderOpen{
  width: calc(100% - 250px);
  box-sizing: border-box;
  background-color: #EAEAEA;
  float: right;
  padding: 16px;
  height: 300px;
  overflow-y:scroll;
}
#newFolder{
  display: inline-block;
  padding: 4px;
}
.addArticle{
  background-color: #666;
  color: #FFF;
  padding: 8px;
  margin-bottom: 8px;
}
.folderOpen .line{
  height: 24px;
  padding: 0px;
}
.folderOpen button.name{
  float: left;
  width: calc(100% - 24px);
  height: 24px;
  text-align: left;
  overflow: hidden;
  font-size: 16px;
  padding: 0px;
  border: none;
  white-space: nowrap;
  background: none;
}
.folderOpen button.edit{
  text-align: center;
  float: right;
  width: 24px;
  height: 24px;
  padding: 0px;
  border: none;
}

.folder{
  background-color: #FFF;
}
.folderLine{
  padding: 0px 4px;
}
.folder.child{
  background-color: red;
}
.folder .treeChildren{
  padding-left: 16px;
}
.folder i{
  color: #FFE082;
}
.folder .currentFolder{
  background-color: #EAEAEA;
}
