.editFolderWindow{
  background-color: #FFF;
  margin: 0 auto;
  max-width: 750px;
  border: #666 1px solid;
  position: relative;
}
.editFolderWindow .TopPanel{
  height: 32px;
  box-sizing: border-box;
  line-height: 16px;
  padding: 8px;
  border-bottom: 1px solid #EAEAEA;
  background-color: #FFF;
}
.closeBtn{
  box-sizing: border-box;
  background-color: #F44336;
  color: #FFF;
  position: absolute;
  top: 0px;
  right:0px;
  width: 32px;
  height: 32px;
  padding: 8px;
  text-align: center;
}
.Footer{
  clear: both;
  background-color: #666;
}
#articleSubmitButton{
  background-color: #09F;
  width: 100%;
  height: 40px;
  clear: both;
  border: none;
  outline: none;
  color: #FFF;
}

.content{
  padding: 16px;
}
.positionBtn{
  background-color: #EAEAEA;
  border: none;
  border-radius: 8px;
  outline: none;

}
.positionBtn.selected{
  background-color: #09F;
}
