html, body{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: rgb(240, 242, 241);
  font-family: 'Source Sans Pro', sans-serif;
  font-smooth: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1{
  max-height: 100%;
}
button{
  box-sizing: border-box;
  display: block;
  padding: 0.5rem;
  border: none;
  border-radius: none;
  max-height: 100%;
  outline: none;
}
button.selected{ background-color: #FB0; }


i{}
a{ text-decoration: none; }
form{
  padding: 1rem;
}
label{
  padding: 0.5rem 0rem;
}
input{
  padding: 0.25rem 0.5rem;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
ul > li {}
ul > li > a {
  display: block;
  padding: 1rem;
  background-color: #FFFFFF;
}
ul > li > a:hover {
  background-color: #EFEFEF;
}
