
.selectWindow{
  display: block;
  min-width: 550px;
  margin: 50px auto;
  position: relative;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}
.folderTopPanel{
  width: 100%;
  box-sizing: border-box;
  background-color: #FFF;
  padding: 16px;
}
.underContent{
}
.inline{
  display: inline-block;
  padding: 0px;
}
.folderTree{
  background-color: #FFF;
  box-sizing: border-box;
  width: 250px;
  float: left;
  padding: 16px;
  height: 300px;
  overflow-y: scroll;
}
.folderOpen{
  width: calc(100% - 250px);
  box-sizing: border-box;
  background-color: #EAEAEA;
  float: right;
  padding: 16px;
  height: 300px;
  overflow-y:scroll;
}

button.submit{
background-color: #09F;
color: #FFF;
padding: 4px 8px;
border: none;
}
.selectWindow .topName{
background-color: #FFF;
box-sizing: border-box;
height: 32px;
padding: 8px 16px;
line-height: 16px;
}
.selectWindow .topName button.closeWindow{
float: right;
position: absolute;
top: 0px;
right: 0px;
height: 32px;
width: 32px;
text-align: center;
box-sizing: border-box;
line-height: 16px;
font-size: 16px;
border: none;
background-color: red;
color: white;

}
.under{
  box-sizing: border-box;
  width: calc(100%);
  background-color: #FFF;
  padding: 16px;
}
.selectedPath{
  box-sizing: border-box;
  height: 24px;
  float: left;
  width: calc(100% - 120px);
  background-color: #EAEAEA;
  line-height: 16px;
  padding: 4px 8px;
}
.selectedPath .inline{
  line-height: 16px;
  background-color: #EAEAEA;
}
.under button.submit{
  background-color: #09F;
  color: #FFF;
  padding: 4px 8px;
  border: none;
  float: right;
}
