.mainGrid{
  display: grid;
  box-sizing: border-box;
  height: 100%;
  grid-gap: 0px;
  grid-template-columns: 200px auto 200px;
  grid-template-rows: 4rem calc(100% - 8rem) 4rem;
  grid-template-areas:
  "header header header"
  "leftPanel routedContent routedContent"
  "footer footer footer";
}

#theHeader{  grid-area: header; z-index: 2; }
#theLeftPanel{  grid-area: leftPanel;  z-index: 1;  background-color: #EEE; }
#theContent{ grid-area: routedContent; overflow: hidden; }
#theFooter{  grid-area: footer;  z-index: 2;  background-color: #EEE; }

/* Content Grids */
#explorerGrid{
  display: grid;
}

#accountPanel{
  position: fixed;
  z-index: 8;
  top: 4rem;
  right: 0;
}




div.ng-view{

}
