.columns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}
.column{
  flex:1;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.column article{
  margin: 8px;
}
