/* Font Color */

.yellow{ color: #FB0; }
.white{ color: #FFF; }


/* Background Color */

.bg-yellow{ background-color: #FB0; }
.bg-white{ background-color: #FFF; }

.bg-gray{ background-color: #E0E0E0; }
