#sourceText{
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
  overflow: hidden;
  background-color:  #FFF3E0;

  display:table;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.image{
  position: relative;
  background-color: #FFF3E0;
  display: block;
  text-align: center;
}
/* buttons */
.icon_btn{
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  padding: 0px;
  position: absolute;
  text-align: center;
}
.icon{
  box-sizing: border-box;
  background-color: #FFCC80;
  font-size: 16px;
  padding: 8px;
  width: 32px;
  height: 32px;
}
.moveBtn .icon:hover{
  background-color: #EF6C00;
  color: #FFF;
}
.deleteBtn .icon:hover{
  background-color: #EF6C00;
  color: #FFF;
}
.moveBtn{
  top:0;
  left:0;
}
.deleteBtn{
  top:0;
  right:0;
}
