<div class="blanket" ng-click="cancel()">
  <div class="window bg-white shadow" ng-click="$event.stopPropagation()">
    <div class="bg-yellow row v-center space-between pl-1">
     {{text.top.name}} - {{folder.name}}
      <button class="x-close bg-white" ng-click="cancel()"><i class="fa fa-times"></i></button>
    </div>
    <div class="content pa-1">

      <section>
        {{text.name.label}}: </br>
        <input type="text" ng-model="folder.name" ng-change="updateName(folder)"></br>
        {{text.position.label}}: </br>
        <div class="row">
          <button class="set small" ng-class="(folder.position == 'top' ? 'selected' : '')" ng-click="setPosition('top')" >{{text.position.top}}</button>
          <button class="set small" ng-class="(folder.position == 'side' ? 'selected' : '')" ng-click="setPosition('side')" >{{text.position.side}}</button>
          <button class="set small" ng-class="(folder.position == '' ? 'selected' : '')" ng-click="setPosition('')" >{{text.position.none}}</button>
        </div>
        </br>{{text.state.label}}: </br>
        <div class="row">
          <button class="set small" ng-class="(folder.state == true ? 'selected' : '')" ng-click="changeState(true)" >{{text.state.public}}</button>
          <button class="set small" ng-class="(folder.state == false ? 'selected' : '')" ng-click="changeState(false)">{{text.state.private}}</button>
        </div>
      </section>
    </div>
    <div class="control pa-1 border-top">
      <button class="delete" ng-click="delete(folder)">{{text.button.delete}}</button>
      <button class="promote save" ng-click="save(folder)">{{text.button.save}}</button>
    </div>
  </div>
</div><!-- blanket -->
