<div class="blanket" ng-click="cancel()">
  <div class="window" ng-click="$event.stopPropagation()">
    <div class="top">
     {{text.top.name}} - {{folder.name}}
      <button class="win close" ng-click="cancel()"><i class="fa fa-times"></i></button>
    </div>
    <div class="content">
      <section>
        {{text.name.label}}: </br>
        <input type="text" ng-model="folder.name" ng-change="updateName(folder)"></br>
        {{text.position.label}}: </br>
        <button class="set small" ng-class="(folder.position == 'top' ? 'selected' : '')" ng-click="setPosition('top')" >{{text.position.top}}</button>
        <button class="set small" ng-class="(folder.position == 'side' ? 'selected' : '')" ng-click="setPosition('side')" >{{text.position.side}}</button>
        <button class="set small" ng-class="(folder.position == '' ? 'selected' : '')" ng-click="setPosition('')" >{{text.position.none}}</button>
        </br>{{text.state.label}}: </br>
        <button class="set small" ng-class="(folder.state == true ? 'selected' : '')" ng-click="changeState(true)" >{{text.state.public}}</button>
        <button class="set small" ng-class="(folder.state == false ? 'selected' : '')" ng-click="changeState(false)">{{text.state.private}}</button>
      </section>
    </div>
    <div class="control">
      <section>
      <button class="delete" ng-click="delete(folder)">{{text.button.delete}}</button>
      <button class="promote save" ng-click="save(folder)">{{text.button.save}}</button>
      </section>
    </div>
    <div class="Footer">Footer</div>
  </div>
</div><!-- blanket -->
