<style>
.dropImage{
  padding: 24px;
  background-color: #EEEEEE;
}
#uploadNewImage{
    display: none;
}
.dropImage label{
    background-color: #E0E0E0;
    margin-right: 8px;
    padding: 4px 8px;
    border-radius: 8px;
}
.dropImage button{
    background-color: #E0E0E0;
    color: rgb(82, 82, 82);
    margin-left: 8px;
    padding: 4px 8px;
    border-radius: 8px;
    font-family: "Source Sans Pro", sans-serif;
}
.dropImage img{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 250px;
  margin-bottom: 16px;
}
</style>

<div class="blanket" ng-click="cancel()">
    <div class="GarantCard inPopUp shadow" ng-click="$event.stopPropagation()">
      <div class="header">Garant</div>

      <!-- Image Drop -->
      <div class="dropImage" is-drop-area="onDropImage">
        <img ng-show="garant.image" src="/uploads/image/{{garant.image}}"/>
        <label for="uploadNewImage" class="shadow">
          <i class="fa fa-upload"></i> Upload
        </label>
        or Drop new File
        <button ng-click="searchImage()" class="shadow"><i class="fa fa-folder-open-o"></i></button>
        <input id="uploadNewImage" type="file" custom-on-change="onPickImage" />
      </div>

      <div class="content">
        <label for="garantName">Garant name:</label>
        <input name="garantName" ng-model="garant.header">
        <label for="garantName">Garant Title:</label>
        <input name="garantName" ng-model="garant.title">
        <label for="garantWeb">Garant web:</label>
        <input name="garantWeb" ng-model="garant.webpage">
        <label for="motto">Motto:</label>
        <textarea type="textarea" contenteditable="true" name="motto" ng-model="garant.content"></textarea>
      </div>
      <div class="control">
        <div ng-if="new">
          <button ng-click="save()">SAVE</button>
        </div>
        <div ng-if="!new">
          <button ng-click="delete()">DELETE</button>
          <button ng-click="update()">UPDATE</button>
        </div>
      </div>
  </div>
</div><!-- blanket -->
