<div id="editFolder" class="blanket" ng-click="cancel()">
  <div class="window shadow" ng-click="$event.stopPropagation()">
    <div class="header">
     {{text.windowName}}
      <button class="x-close" ng-click="cancel()"><i class="fa fa-times"></i></button>
    </div>
    <div class="content">
      <section class="inputs">
        {{text.label.name}}:
        <input type="text" ng-model="folder.name" ng-change="updateName(folder)">
        {{text.state.label}}:
        <div class="row">
          <button class="set small" ng-class="(folder.state == true ? 'selected' : '')" ng-click="changeState(true)" >{{text.state.public}}</button>
          <button class="set small" ng-class="(folder.state == false ? 'selected' : '')" ng-click="changeState(false)">{{text.state.private}}</button>
        </div>
      </section>

      <div class="controls">
        <button class="delete" ng-click="delete(folder)">{{text.button.delete}}</button>
        <button class="promote save" ng-click="save(folder)">{{text.button.save}}</button>
      </div>
    </div>

  </div>
</div><!-- blanket -->
