<div id="editArticle" class="blanket" ng-click="">
  <div class="articleWindow shadow" ng-click="$event.stopPropagation()">
    <div class="header">
     Article editor
      <button class="x-close bg-white" ng-click="cancel()"><i class="fa fa-times"></i></button>
    </div>
    <!-- articleGrid -->
    <div class="content" >




      <!-- Text Content -->

        <form id="articleEditorForm">
          <input id="articleEditorHeader" class="fullwidth articleHeader" placeholder="Article Header" ng-model="article.header" />
          <input id="articleEditorContent" class="articleContent" placeholder="Article Content" ng-model="article.content" />
        </form>


      <!-- Controls -->
      <div id="articleEditorControls">
        <ul class="">
          <li><button id="articleSubmitButton" type="submit" ng-click="saveChanges()"><i class="fa fa-save"></i> Save </button></li>
          <li><button ng-click="deleteArticle()"><i class="fa fa-trash-o"></i> Delete </button></li>
        </ul>
        <ul class="">
          <li><button class="a" ng-click="selectFilePop()"><i class="fa fa-file"></i> File</button></li>
          <li><button ng-click="selectArticlePop()"><i class="fa fa-file-text-o"></i > Article</button></li>
          <li><button ng-click="selectImagePop()"><i class="fa fa-image"></i> Image</button></li>
          <li><button ng-click="editYoutubeLinkPop()"><i class="fa fa-youtube-play"></i> Youtube video</button></li>
          <li><button ng-click="editWebLinkPop()"><i class="fa fa-link"></i> Web Link</button></li>
          <li><button ng-click="selectPagePop()"><i class="fa fa-sitemap"></i> Page Link</button></li>
        </ul>
      </div>
    </div>
    <div class="footer" ng-bind-html="logPanel"></div>
  </div>
</div><!-- POP WINDOW -->
</div><!-- blanket -->
