<div id="editFile" class="blanket" ng-click="cancel()">
  <div class="fileWindow shadow" ng-click="$event.stopPropagation()">
    <div class="header">
     {{text.top.name}} - {{folder.name}}
      <button class="close" ng-click="cancel()"><i class="fa fa-times"></i></button>
    </div>
    <div class="content pa-1">
        <header class="pa-1">
          <h1 class="filename">
            {{file.file_name}}
          </h1>
        </header>
        <div class="row">
          <button class="editImage" disabled="true">rotate</button>
          <button class="editImage">change folder</button>
          <button class="editImage">download</button>
          <button class="editImage">delete</button>
        </div>
        <section class="image" ng-if="(file.file_type == 'png')">
          <img width="350px" ng-src="/uploads/image/{{file.file_src}}">
        </section>
        <section class="details">
          <h3>Used in:</h3>
          <button class="spanlink" ng-repeat="detail in details" ng-click="openItem(detail)">{{detail.header}}</button>
        </section>
        <section class="details">
          <h2>File Details</h2>
          File Source: {{file.file_src}}<br>
          File Size: {{filesize}}
        </section>
    </div><!-- content -->
    <div class="footer">
        Footer
    </div><!-- footer -->
  </div><!-- window -->
</div><!-- blanket -->
