<div id="editGarant" class="blanket" ng-click="cancel()">
    <div class="garantWindow shadow" ng-click="$event.stopPropagation()">
      <div class="header">
          Garant {{garant.header}}
         <button class="x-close bg-white" ng-click="cancel()"><i class="fa fa-times"></i></button>
       </div>

      <!-- Image Drop -->
      <div class="imageArea" is-drop-area="onDropImage">
        <img width="280px" ng-show="hasImage()" src="{{garant.image_src}}"/>
        <div class="dropArea">
          <label for="uploadNewImage" class="shadow"><i class="fa fa-upload"></i> Upload </label>
          <div>or Drop new File</div>
          <button ng-click="searchImage()" class="shadow"><i class="fa fa-folder-open-o"></i></button>
        </div>
        <!-- Hidden Button -->
        <input class="hidden" id="uploadNewImage" type="file" custom-on-change="onPickImage" />
      </div>

      <div class="content">
        <label for="garantName">Garant name:</label>
        <input name="garantName" ng-model="garant.header">
        <label for="garantName">Garant Title:</label>
        <input name="garantName" ng-model="garant.title">
        <label for="garantWeb">Garant web:</label>
        <input name="garantWeb" ng-model="garant.webpage">
        <label for="motto">Motto:</label>
        <textarea type="textarea" contenteditable="true" name="motto" ng-model="garant.content"></textarea>
      </div>
      <div class="control" ng-if="new">
          <button ng-click="save()">SAVE</button>
      </div>
      <div class="control" ng-if="!new">
          <button class="margin-right" ng-click="delete()">DELETE</button>
          <button ng-click="update()">UPDATE</button>
      </div>
  </div>
</div><!-- blanket -->
