#articleGrid{
  background-color: white;
  box-sizing: border-box;
  height: 90%;
  display: grid;

  grid-template-columns: 550px 150px;
  grid-template-rows: 100%;
  grid-template-areas:
  "txtcontent control"
  ;
  overflow-y: hidden;
}

#articleEditorHeader{
  box-sizing: border-box;
  width: 100%;
}

#articleEditorForm{
  background-color: white;
  grid-area: txtcontent;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 2rem calc(100% - 4rem) 2rem;

  margin-bottom: 0px;

}

#articleEditorControls{
    grid-area: control;
}

/* Generated WYSIWYG */

/* Editor Wrap */
.editor_wrap{
  box-sizing: border-box;
  max-height: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 2rem calc(100% - 4rem) 2rem;

  grid-template-areas:
  "artHeader"
  "artContent"
  "artHtmlSwitch"
  ;
  overflow: hidden;

}
.editor_wrap > .content_wrap{
  background-color: white;
  box-sizing: border-box;
  grid-area: artContent;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
